{% extends 'base/layout.html' %}
    {% load crispy_forms_tags %}
        {% block body %}
            <div class="container">
                <div class="title">
                    <h1>Login....</h1>
                </div>
                <br>
                <div class="login">
                    <form action="" method="POST">
                        {% csrf_token %} 
                        <p>{{ form |crispy }}</p>
                        <button id="butt" class="btn btn-primary">Login</button> <br>
                    </form>
                </div>
            </div>
        {% endblock %}