{% extends 'base/layout.html' %}
    {% block body %}
        <div class="container">
            {% if user.is_authenticated %}
            <div class="delete_page">
                <h1>Delete Post: {{ post.title }}....</h1>
            </div>
            <div class="form-group">
                <form action="" method="POST">
                    {% csrf_token %}
                    <strong>Are you sure you want to delete {{ post.title }}</strong> <br> <br>
                    <button class="btn btn-danger">Delete Post</button>
                </form>
            </div>
            {% else %}
            <h1>Page error...</h1>
            <h3>You are not login</h3>
            {% endif %}
        </div>
    {% endblock %}